# jfig.cnf, editor and viewer (ex javafig.cnf)
#
# global configuration stuff:
#
# default FIG version 31 or 32
jfig.FIG.Version                       32
#jfig.FIG.Version                        31
#
# no magnetic grid / 1/2 grid / 1/4 grid / 1/8 grid
# no grid / coarse grid / medium grid / fine grid
# 
jfig.cursorSnapping                     1/4 grid
jfig.grid                               coarse grid
#
# Inches / Metric
# A4 / ... / Letter
# Portrait / Landscape
# Center / Flush Left
#
jfig.units                              Metric
jfig.paperSize                          A4
jfig.pageJustification                  Center
jfig.pageOrientation                    Portrait
#
# given the current Java2D font rendering, we don't really want antialiasing
#
jfig.allowJava2D			true
jfig.Java2D.AntiAlias                   false
jfig.Java2D.RenderingQuality            true    
jfig.enableXSplines 			true
jfig.showTeXStrings                     true
jfig.showLayerManager                   true
# 
jfig.scaleLineWidth                     false
jfig.scaleFontSize                      false
#
# in current releases of Swing, "Metal" is the default. You can add your
# own class names, here, too.
#
#jfig.LookAndFeelClassName  javax.swing.plaf.metal.MetalLookAndFeel
#jfig.LookAndFeelClassName  com.sun.java.swing.plaf.windows.WindowsLookAndFeel 
#jfig.LookAndFeelClassName  com.sun.java.swing.plaf.motif.MotifLookAndFeel
#jfig.LookAndFeelClassName  javax.swing.plaf.mac.MacLookAndFeel

#
# ##########################################################################
#
# on Unix systems, you may want to set RequestFocusOnMouseEnter true
#
jfig.gui.Canvas.RedrawMessages	false
jfig.gui.Canvas.RequestFocusOnMouseEnter	false
jfig.gui.Canvas.TripleBuffering			false
#
# Editor stuff: 
# on notebooks with 800x600 pixels display, try WindowWidth/Height 800/600
# and you might also prefer AttribsScrollPaneEnable true
#
jfig.gui.Editor.WindowWidth             900
jfig.gui.Editor.WindowHeight            700
jfig.gui.Editor.MenuFontName            SansSerif
jfig.gui.Editor.MenuFontSize            10
jfig.gui.Editor.AttribsScrollPaneEnable false
jfig.gui.Editor.ModalEditDialogs	false
jfig.gui.Editor.ManhattanGeometryEnable	true
jfig.gui.Editor.RegistrationKey 	0000-0000-0000-0000-0000-0000
jfig.gui.Editor.EnableToolTipManager    true
jfig.gui.Editor.EnableMouseWheelSupport true
jfig.gui.Editor.MouseWheelPanning       true
#jfig.gui.Editor.BackgroundColor         0x00FF0055
#
# 16x16 icon looks better for Windows, else use the default size
#
#jfig.gui.Editor.Icon                   /jfig/images/icon-16x16.gif
jfig.gui.Editor.Icon                    /jfig/images/icon.gif
jfig.gui.Editor.DebugMenuItems          false
jfig.gui.Editor.DebugRedrawMessages 	false
jfig.gui.Editor.DebugFindObjectMessages	false
#
#jfig.gui.Viewer.Icon                   /jfig/images/icon-16x16.gif
jfig.gui.Viewer.Icon                    /jfig/images/icon.gif
jfig.gui.Viewer.WindowWidth             800
jfig.gui.Viewer.WindowHeight            600
jfig.gui.Viewer.debug                   false
#
#
jfig.gui.EditDialog.FontName            DialogInput
jfig.gui.EditDialog.FontSize            10
jfig.gui.EditDialog.FontStyle           1
#jfig.gui.EditDialog.BackgroundColor    0x00dcdcdc
#
jfig.gui.PresentationViewer.debug               false
jfig.gui.PresentationViewer.enablePageNames     false
jfig.gui.PresentationViewer.enablePageNumbers   true
jfig.gui.PresentationViewer.WindowWidth         800
jfig.gui.PresentationViewer.WindowHeight        600
jfig.gui.PresentationViewer.Icon          /jfig/images/icon.gif
#
#
jfig.gui.Console.ConsoleFontName        MonoSpaced
jfig.gui.Console.ConsoleFontSize        10
jfig.gui.Console.ButtonFontName         SansSerif
jfig.gui.Console.ButtonFontSize         10
#
# put images into the background (layer+10) automagically?!
jfig.gui.CreateImageDialog.LayerCorrection true
#
jfig.gui.JNumericStateButton.FontName   SansSerif
jfig.gui.JNumericStateButton.FontSize   10
#
# shortcut key setup: mostly xfig-compatible, except for the CTRL-key
# stuff, which does not work reliable in Java. Therefore, we use
# shift-C for copy, shift-E for edit, shift-J for create image.
#
jfig.gui.KeyHandler.InsertPoint		a
jfig.gui.KeyHandler.CreateRectangle	b
jfig.gui.KeyHandler.CreateCircle	c
jfig.gui.KeyHandler.CopyObject		C
jfig.gui.KeyHandler.DeleteObject	d
jfig.gui.KeyHandler.CutPoint			D
jfig.gui.KeyHandler.CreateEllipse	e
jfig.gui.KeyHandler.EditObject		E
jfig.gui.KeyHandler.MirrorY				f
jfig.gui.KeyHandler.MirrorX				F
jfig.gui.KeyHandler.CreateCompound	g
jfig.gui.KeyHandler.BreakCompound	G
jfig.gui.KeyHandler.CreateOpenBezier	i
jfig.gui.KeyHandler.CreateClosedBezier	I
jfig.gui.KeyHandler.CreatePolyline	l
jfig.gui.KeyHandler.CreateImage		J
jfig.gui.KeyHandler.MoveObject		m
jfig.gui.KeyHandler.MovePoint	   	M
jfig.gui.KeyHandler.OpenCompound	o
jfig.gui.KeyHandler.CreatePolygon	p
jfig.gui.KeyHandler.CreateArc	  	r
jfig.gui.KeyHandler.CreateOpenSpline	s
jfig.gui.KeyHandler.CreateClosedSpline	S
jfig.gui.KeyHandler.CreateText		t
jfig.gui.KeyHandler.UpdateObject	u
jfig.gui.KeyHandler.ZoomOut		z
jfig.gui.KeyHandler.ZoomIn		Z
jfig.gui.KeyHandler.ScaleObject	  $
#
jfig.gui.KeyHandler.ToggleShowGrid	W
jfig.gui.KeyHandler.NextCachedAttributes	n
jfig.gui.KeyHandler.SaveAttributesToCache	N
#
# switch middle and right mouse button? use shift+click as middle-click?
#
jfig.utils.MouseMapper.ControlClickIsRightClick	true
jfig.utils.MouseMapper.ShiftClickIsMiddleClick	true
jfig.utils.MouseMapper.DoubleClickIsMiddleClick	false
jfig.utils.MouseMapper.TraceFigCanvasEvents	false
jfig.utils.MouseMapper.Remap                    false 
#
# fontMode 1=Lucida 2=Computer Modern 3=Symbol(still unsupported)
jfig.utils.SimpleLatexParser.displayBoxes	false
jfig.utils.SimpleLatexParser.dumpTokens 	false
jfig.utils.SimpleLatexParser.useWordMode	true
jfig.utils.SimpleLatexParser.fontMode		2
#
#
jfig.objects.FigParser.debug            false
jfig.objects.FigParser.enableNonASCII   true
jfig.objects.FigParser.enableMessages   false
jfig.objects.FigParser.UseFastMessages  false
jfig.objects.FigImage.verboseImageUpdate false
jfig.objects.FigText.showBoundingBoxes	 false
#
# define font aliases. Note that the Dialog and SansSerif fonts seem 
# to have to most complete Unicode implementations (e.g. greek letters, 
# math symbols, chinese etc.) in current JDKs. Therefore, these fonts
# are the best candidates for mapping the "Symbol" font.
#
#jfig.gui.FontCache.Times-Roman              Times,plain
#jfig.gui.FontCache.Times-Italic             Times,italic
#jfig.gui.FontCache.Times-Bold               Times,bold
#jfig.gui.FontCache.Times-BoldItalic         Times,bolditalic
#jfig.gui.FontCache.AvantGarde-Book          ItcAvantGardeGothic,plain
#jfig.gui.FontCache.AvantGarde-BookOblique   ItcAvantGardeGothic,italic
#jfig.gui.FontCache.AvantGarde-Demi          ItcAvantGardeGothic,bold
#jfig.gui.FontCache.AvantGarde-DemiOblique   ItcAvantGardeGothic,bolditalic
#jfig.gui.FontCache.Bookman-Light            ItcBookman Light,plain
#jfig.gui.FontCache.Bookman-LightItalic      ItcBookman Light,italic
#jfig.gui.FontCache.Bookman-Demi             ItcBookman Demi,bold
#jfig.gui.FontCache.Bookman-DemiItalic       ItcBookman Demi,bolditalic
#jfig.gui.FontCache.Courier                  Courier,plain
#jfig.gui.FontCache.Courier-Oblique          Courier,italic
#jfig.gui.FontCache.Courier-Bold             Courier,bold
#jfig.gui.FontCache.Courier-BoldOblique      Courier,bolditalic
#jfig.gui.FontCache.Helvetica                Helvetica,plain
#jfig.gui.FontCache.Helvetica-Oblique        Helvetica,italic
#jfig.gui.FontCache.Helvetica-Bold           Helvetica,bold
#jfig.gui.FontCache.Helvetica-BoldOblique    Helvetica,bolditalic
#jfig.gui.FontCache.Helvetica-Narrow         Helvetica,plain
#jfig.gui.FontCache.Helvetica-Narrow-Oblique Helvetica,italic
#jfig.gui.FontCache.Helvetica-Narrow-Bold    Helvetica,bold
#jfig.gui.FontCache.Helvetica-Narrow-BoldOblique Helvetica,bolditalic
#jfig.gui.FontCache.NewCenturySchlbk-Roman   NewCenturySchoolbook,plain
#jfig.gui.FontCache.NewCenturySchlbk-Italic  NewCenturySchoolbook,italic
#jfig.gui.FontCache.NewCenturySchlbk-Bold    NewCenturySchoolbook,bold
#jfig.gui.FontCache.NewCenturySchlbk-BoldItalic NewCenturySchoolbook,bolditalic
#jfig.gui.FontCache.Palatino-Roman           Palatino,plain
#jfig.gui.FontCache.Palatino-Italic          Palatino,italic
#jfig.gui.FontCache.Palatino-Bold            Palatino,bold
#jfig.gui.FontCache.Palatino-BoldItalic      Palatino,bolditalic
#jfig.gui.FontCache.Symbol                   SansSerif,plain
#jfig.gui.FontCache.ZapfChancery-MediumItalic ItcZapfChancery,italic
#jfig.gui.FontCache.ZapfDingbats             ItcZapfDingbats,plain
#
#
#
debug false
#
# current export settings and command lines. Please consider to edit
# and fix jfig.objects.Exporter.java and jfig.gui.ExportOptionsDialog.java
# and please send me the fixed versions!
#
jfig.gui.ExportOptionsDialog.Debug      false
jfig.gui.ExportOptionsDialog.Autosave   true
jfig.gui.ExportOptionsDialog.WaitExec   true
#
# use these Postscript options for fig2dev 3.2.1
# jfig.gui.ExportOptionsDialog.fig2devPS     -L ps -P
# jfig.gui.ExportOptionsDialog.fig2devEPS    -L ps
#
# use the following Postscript options for fig2dev 3.2.3c and later:
jfig.gui.ExportOptionsDialog.fig2devPS     -L ps
jfig.gui.ExportOptionsDialog.fig2devEPS    -L eps
#
#jfig.gui.ExportOptionsDialog.fig2devPath   /usr/X11/bin/fig2dev
#jfig.gui.ExportOptionsDialog.fig2devPath   C:\\windows\\fig2dev.exe
#
jfig.gui.ExportOptionsDialog.fig2devIBMGL  -L ibmgl
jfig.gui.ExportOptionsDialog.fig2devLATEX  -L latex
jfig.gui.ExportOptionsDialog.fig2devPICTEX -L pictex
jfig.gui.ExportOptionsDialog.fig2devGIF    -L gif
jfig.gui.ExportOptionsDialog.fig2devJPG    -L jpeg
jfig.gui.ExportOptionsDialog.fig2devPPM    -L ppm
jfig.gui.ExportOptionsDialog.fig2devPNG    -L png
#
jfig.gui.ExportOptionsDialog.fig2devMagnification   1.0 
jfig.gui.ExportOptionsDialog.fig2devPSOrientation    true
jfig.gui.ExportOptionsDialog.fig2devPSCentered    true
#
jfig.gui.ExportOptionsDialog.Print      lpr 
#jfig.gui.ExportOptionsDialog.Print      lpr -Pf312_hp
#
#
jfig.gui.ExportOptionsDialog.FontName    Times
jfig.gui.ExportOptionsDialog.FontSize    9
jfig.gui.ExportOptionsDialog.EnableGIF   false
#
jfig.gui.ExportOptionsDialog.PDFExtraBorder  true
#
# some JDKs deadlock unless this is false, but try true:
#
jfig.objects.Exporter.DumpStatus        false
#
#jfig.gui.StateButton.BackgroundColor        0x00c0c0c0
#jfig.gui.UpdateModeButton.BackgroundColor   0x00c0c0c0
#
# PrintManager (Java2D): 
# magnification in percent,    e.g. 100 = zoom 1:1, uncomment for zoom fit
# border width in 1/72th inch, e.g.  36 = 0.5 inch, uncomment for 1.0 inch
# jfig.gui.PrintManager.debug true
# jfig.gui.PrintManager.magnification 100
# jfig.gui.PrintManager.border 18
#
#
#jfig.gui.JTextViewer.JTextViewerFontName	MonoSpaced
jfig.gui.JTextViewer.JTextViewerFontName	DialogInput
jfig.gui.JTextViewer.JTextViewerFontSize	12
#
# where to look for FIG libraries - attention: jfig currently supports
# one level of subdirectories only, e.g Libraries/Logic but not
# Libraries/Electronic/Schematics. Move to Libraries/Schematics if needed...
#
jfig.gui.SelectFromLibraryDialog.BaseDir    .
#jfig.gui.SelectFromLibraryDialog.BaseDir    /usr/X11R6/lib/X11/xfig/Libraries
#jfig.gui.SelectFromLibraryDialog.BaseDir   c:\\temp\\jfig\\Libraries
#
#
jfig.commands.CreateBulletCommand.DefaultRadius   120
#
# fontsize in pt, linewidth in fig units, lengths in mm
#
jfig.commands.CreateDimensioningCommand.font           SansSerif
jfig.commands.CreateDimensioningCommand.fontsize       10
jfig commands.CreateDimensioningCommand.format         %6.2f
jfig commands.CreateDimensioningCommand.units          mm
jfig.commands.CreateDimensioningCommand.color          black
#jfig.commands.CreateDimensioningCommand.arrowhead      2.0,6.0,1 
jfig.commands.CreateDimensioningCommand.arrowhead      1.0,4.0,1 
jfig.commands.CreateDimensioningCommand.linewidth      1        
jfig.commands.CreateDimensioningCommand.markerlength   2.0       
jfig.commands.CreateDimensioningCommand.layer          200
jfig.commands.CreateDimensioningCommand.outerArrowLimit 10      

# end jfig.cnf
#
